.in-mb-media-image {
  width: 4em;
  height: 4em;
  object-fit: cover;
}

.in-mb-quantity {
  max-width: 4em;
}

// Bumping up specificity against bootstrap
.in-mb-add-meal.in-mb-add-meal {
  width: 4.2rem;
  font-size: 1.4rem;
  flex: 0 0 auto;
}
